<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>chapter-08--高级几何体</title>
   <link rel="stylesheet" type="text/css" href="style/common.css">
</head>
<body>
   <div>
      <span class="js-changeRotation">js-changeRotation</span>
      <span class="js-meshSave">js-meshSave</span>
      <span class="js-meshLoad">js-meshLoad</span>
      <span class="js-sceneSave">js-sceneSave</span>
      <span class="js-sceneLoad">js-sceneLoad</span>
      <span class="js-sceneClear">js-sceneClear</span>
   </div>
   <div id="WebGL-output"></div>
   <script type="text/javascript" src="script/dest/page/chapter08.js"></script>
</body>
</html>