<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>chapter-04--材质</title>
   <link rel="stylesheet" type="text/css" href="style/common.css">
</head>
<body>
   <div class="js-operation">
      <span class="js-switchRenderer">switchRenderer</span>
      <span class="js-addCube">addCube</span>
      <span class="js-removeCube">removeCube</span>
      <span class="js-changeNear">changeNear</span>
      <span class="js-changeFar">changeFar</span>
      <span class="js-changeFlat" data-type="flat">changeFlat</span>
      <span class="js-changeObject">js-changeObject</span>
   </div>
   <div id="WebGL-output"></div>
   <script type="text/javascript" src="script/dest/page/chapter04.js"></script>
</body>
</html>